.app_nav{
  font-family: 'Montserrat', sans-serif;
}

#landing-bg {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;


  padding-bottom: 30px;
}

/* 
        - Header
*/
.landing.header{
  height: 35%;
}

.landing.header h1{
  min-height: 100px;
  max-width: 550px; 
  
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Varela Round', sans-serif;
}

.landing.header a, .landing.header a:visited{

    border: 1px solid black;
    
    background-color: #383e42;
    color: rgb(240,240,240);

    border-radius: 5px;
    padding: 6px;
    width: 90px;

    font-weight: bold;
    text-decoration: none;

    cursor: pointer;
}

.landing.header a:hover, .landing.header a:focus{
    border: 1px solid black;
    background-color: grey;
    color: white;
}

.landing.header a:active{
  text-decoration: underline;
}


/* WHOLE INFO SECTION*/
.section-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  flex-flow: 1;
}

/* INFO SECTIONS */
 .info-landing {
    min-height: 100px;
    padding: 30px 15px;
    max-width: 550px; 

    background-color: rgb(211,211,211, .7);
  }

  .info-landing:nth-child(1) {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .info-landing:nth-child(3) {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    padding-bottom: 60px;
  }
  
  .info-landing header{
    padding: 25px 25px;
    margin-bottom: 20px;
  }
  
  

li, li a{
  list-style-type: none;
  text-decoration: none;
} 

/*  --------------
  toggle styles
  ---------------- */
  .hidden {
    display: none;
}

/*---------------- RESPONSIVE LAYOUT ----------------*/


/* ----------
        COMPUTER SCREEN REGULAR 
----------------------*/
@media screen and (min-width: 768px) {
 
  .landing.header {
    width: 100%;
    margin-top: 60px;
    padding: 80px 0%;
  }

  .landing.header h1{
      width: 100%;
      margin-bottom: 15px;
      text-align: center;
  }
}

/* ---------------------- 
      COMPUTER SCREEN LARGE 
----------------------*/
@media screen and (min-width: 1024px) {

  .landing.header {
    width: 100%;
    margin-top: 5%;
    padding: 0px;

  }

  .landing.header h1{
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;

    text-align: center;
    font-size: 60px;
  }

    .section-info{
      height: 50%;
      max-height: 350px;
      overflow: hidden;
    }

  .info-landing {
    background-color: rgb(211,211,211, .7);

    height: 100%;
    min-height: 100px;
    padding: 30px 15px;
    max-width: 550px; 
  }

  .info-landing:nth-child(1) {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0px;
  }

  .info-landing:nth-child(3) {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;

  }

  .info-landing h3{
    font-size: 30px;
  }

  .info-landing p{
    font-size: 24px;
  }

  /* SECTION INFO */
  .section-info{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}


